<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileStacks</title>
    <link rel="icon" type="image/x-icon" href="/Images/Favicon.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/UploadFiles.css">

    <script src="js/preloader.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/Permission.css">
</head>

<body>
    <div id="preloader"></div>
    <div class="mainheader">
        <nav style="margin-right:20px">
            <img class="logo" src="/Images/Favicon.png" alt="" , width="70rem" , height="70rem">
            <div> <a href="index.html" class="hovernav">HOME</a></div>
            <div class="dropdown">
                <button class="dropbtn hovernav">SERVICES</button>
                <div class="dropdown-content">
                    <a href="/donate">Create Group</a>
                    <a href="/request">Join Group </a>
                    <a href="#">Your Groups</a>
                </div>
            </div>
            <a href="#about" scroll-behavior: smooth class="hovernav">ABOUT</a>
            <a href="#" target="_blank" class="hovernav">CONTACT</a>
        </nav>
        <div class="menubtn">
            <button type="button" class="menuButton pointer" style="margin-left:10%"> PROFILE</button>
        </div>
    </div>
    <div class="bottle">
        <div class="left-panel">
            <div class="flexbox">
                <div class="name">
                    Welcome
                </div>
                <div class="name"><%=name%></div>
            </div>

          
           
            <form method="post" action="/uploadFile" id="file" enctype="multipart/form-data">
       
            <div class="MakingFlex">
                
                   
                    <input type="file" name="fil" id="ToBeUploaded" placeholder="Choose File" >
                 

            </div>

        </div>
        </div>
 
        
        <div class="background2"></div>
    </div>
    
    <div class="bottle">
        <div class="left-panel">
            <div class="inputclass">
                <div class="email">Email ID Of Receiver:</div>
                <div class="EmailInput">
                    <input class="EmailWidth" type="email" name="EmailID" id="EmailID">
                </div>
            </div>

            <table class="content">
                <tr>
                    <td>
                        <label for="ViewDocument" id="ViewDocument">View Document</label>
                    </td>
                    <td>
                        <input type="checkbox" name="View_Document" id="View_Document" class="checkbox View_Document">
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td>
                        <label for="DownloadDocument" id="DownloadDocument">Download Document</label>
                    </td>
                    <td>
                        <input type="checkbox" name="Download_Document" id="Download_Document" class="checkbox Download_Document">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="DeleteDocument" id="DeleteDocument">Delete Document</label>
                    </td>
                    <td>
                        <input type="checkbox" name="Delete_Document" id="Delete_Document" class="checkbox Delete_Document">
                    </td>
                </tr>
            </table>
            <button type="submit" class="confirm" >Confirm</button>
        </div>
    </form>
        <div class="background3"></div>
    </div>
   
</body>

</html>
