<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permissions</title>
    <link rel="icon" type="image/x-icon" href="/Images/Favicon.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/Permission.css">

    <script src="js/preloader.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div id="preloader"></div>
    <div class="mainheader">
        <nav style="margin-right:20px">
            <img class="logo" src="/Images/Favicon.png" alt="" , width="70rem" , height="70rem">
            <div> <a href="index.html" class="hovernav">HOME</a></div>
            <div class="dropdown">
                <button class="dropbtn hovernav">SERVICES</button>
                <div class="dropdown-content">
                    <a href="/donate">Create Group</a>
                    <a href="/request">Join Group </a>
                    <a href="#">Your Groups</a>
                </div>
            </div>
            <a href="#about" scroll-behavior: smooth class="hovernav">ABOUT</a>
            <a href="#" target="_blank" class="hovernav">CONTACT</a>
        </nav>
        <div class="menubtn">
            <button type="button" class="menuButton pointer" style="margin-left:10%"> PROFILE</button>
        </div>
    </div>
    <ul>
    <%for(var i=0;i<items.length;i++){%>
     <li style="color:white ;"><%=items[i].filepath%><a style="color:white"href="/<%=items[i].filepath%>">Download</a> <a href="/delete/<%=items[i].filepath%>">Delete</a></li>    
    <%}%>
</ul>

</body>

</html>
